html {
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Mohave', sans-serif;
  background-image: url(images/bg.png);
  background-position: center;
  background-size: auto 762px;
  background-repeat: no-repeat;
  background-color: #030303;
}

@media (1920px >= width) {
  body {
    background-size: cover;
    background-position: top center;
  }
}
