html {
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Mohave', sans-serif;
  background-image: url(images/bg.png);
  background-position: center;
  background-size: auto 762px;
  background-repeat: no-repeat;
  background-color: #030303;
}

@media (1920px >= width) {
  body {
    background-size: cover;
    background-position: top center;
  }
}

.header {
  padding: 10px 10px 0 10px;
}

.nav {
  display: grid;
  position: relative;
  
}

.nav__logo-and-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  background-color: rgba(84, 112, 137, 0.15);
  backdrop-filter: blur(20px);
}

.logo {
  display: block;
  width: 90px;
  height: 22px;
}

.nav__switch {
  border: 0;
  padding: 0;
  background-image: url(images/burger.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
}

.nav--expanded .nav__switch {
  background-image: url(images/close.png);
}

.nav__menu-list-and-btn {
  display: none;
  flex-direction: column;
  row-gap: 15px;
  position: absolute;
  padding: 10px 0 20px 0;
  top: 65px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  background-color: rgba(84, 112, 137, 0.15);
  backdrop-filter: blur(20px);
}

.nav--expanded .nav__menu-list-and-btn {
  display: flex;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__menu-item {
  margin-left: -1px;
  border-left: 2px solid transparent;
  padding-left: 20px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(128, 133, 141, 1);
}

.nav__menu-item:hover {
  border-left-color: rgba(36, 97, 254, 1);
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.nav__btn {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0 20px;
}

.login-btn {
  height: 34px;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  padding: 6px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: transparent;
}

.get-in-touch-btn {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.get-in-touch-btn__icon {
  background-image: url(images/Polygon\ 3\ \(1\).png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 9px;
  height: 9px;
}
